@import '../fonts/stylesheet.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'mixins';
@import 'colors';
// mix-blend-mode: luminosity;

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html {
    scroll-behavior: smooth;
  }
  a,
a:hover {
    text-decoration: none;
} 
input:focus, a:focus{
    @include outline(none);
    @include box-shadow(none);
}
img{
    max-width: 100%;
    height: auto;
}

$primary-font: "Facebook", sans-serif;

$link-color: $primary-color;
$link-color: $white;

* { box-sizing: border-box; }
body {
	background-color: $primary-color;
	font-family: $primary-font;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
	&:after {
		content: '';
		position: absolute;
        z-index: 100;
        top:0;
		background-color: rgba($primary-color-dark, 0.8);
		background-color: rgba($primary-color-dark, 0.4);
        height: 100vh;
        height: 100%;
		width: 100vw;
		transition: 0.4s;
        opacity: 0;
        overflow-y: scroll;
		visibility: hidden;
	}
}
a, p, h1,h2,h3,h4,h5,h6{
    font-family: 'Circular',sans-serif !important;
    
}
/* main grid */
.grid{
    display: -moz-grid;
    display: grid;
}
/* main flex */
.flex{
    display: -webkit-flex;
    display: flex;
}
/* responsive container */
.section_container, .section_container2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 576px){
    .section_container ,.section_container2{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .section_container {
        max-width: 720px;
    }
    .section_container2{
        max-width: 740px;
    }
}
@media (min-width: 868px){
    .section_container2{
        max-width: 840px;
    }
}
@media (min-width: 992px){

    .section_container, .section_container2 {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .section_container, .section_container2 {
        max-width: 1140px;
    }
}
@media (min-width: 1350px){
    .section_container2  {
        max-width: 1270px;
    }
}
@media (min-width: 1600px){
.section_container {
    max-width: 1250px;
}
}
.nav-top {
	position: fixed;
	z-index: 101;
    // padding:30px 60px;
    // padding:30px 104px;
    // padding-top: 60px;
    width: 100%;
    // height: 50px;
    top:0;
	background-color: $primary-color-dark;
	.hamburger {
		margin-left: auto;
		color: $white;
		cursor: pointer;
	}
	.section_container2{
		padding-bottom:30px;
		padding-top: 60px;
		.header_flex{
			@extend .flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
.nav-drill {
	margin-top: 50px;
	margin-top: 110px;
	transform: translateX(100%);
}
.nav-is-toggled {
	.nav-drill {
		transform: translateX(0);
	}
	&::after {
		opacity: 1;
		visibility: visible;
	}
}

// ---------------------------------------
// important stuff starts here

$nav-width: 250px;
$nav-padding: 0.875em 1em;
$nav-border-color: $primary-color-tint-5;
$nav-background-color: $dark;
$nav-icon-font: 'Material Icons';
$nav-icon-arrow-right: 'chevron_right';
$nav-icon-arrow-left: 'chevron_left';

$nav-level-border-color: $primary-color;
$nav-level-background-color: $primary-color-tint-5;
$nav-level-background-color1: $primary-color-tint-6;

$nav-level3-background-color: $primary-color-tint-4;
$nav-level4-background-color: $primary-color-tint-3;
$nav-level5-background-color: $primary-color-tint-2;

.nav {
	&-drill {
		display: flex;
		position: fixed;
        z-index: 100;
        z-index: 200;
		top: 0;
		right: 0;
		width: $nav-width;
		height: 100vh;
		background-color: $nav-background-color;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		transition: 0.45s;
	}
	
	&-items {
        flex: 0 0 100%;
        list-style-type: none;
        padding-left: 0;
	}
	
	&-item {
		&:not(:last-child) {
			border-bottom: solid 1px $nav-border-color;
		}
	}
	
	&-link {
		display: block;
		padding: $nav-padding;
		background-color: $nav-background-color;
		color: $link-color;
		font-size: 1rem;
		line-height: 1.5em;
		@include transition(all 0.3s);
		font-weight: 300;
		&:hover{
			color:hsl(0, 0%, 75%);
			@include transition(all 0.3s);
		}
	}
	
	&-expand {
		&-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(100%);
			background-color: $nav-level-background-color;
			transition: 0.3s;
			visibility: hidden;
			
			.nav-item {
				&:not(:last-child) {
					border-bottom: solid 1px $nav-level-border-color;
				}
			}

			.nav-link {
				background-color: $nav-level-background-color;
			}

			.nav-back-link {
				display: flex;
				align-items: center;
				background-color: $primary-color !important;
				background-color: $black !important;
				color: $white;
				
				&::before {
					content: $nav-icon-arrow-left;
					margin-right: 0.5em;
					font-family: $nav-icon-font;
				}
			}
		}
		
		&-link {
			display: flex;
			justify-content: space-between;
			
			&::after {
				content: $nav-icon-arrow-right;
				flex: 0 1 auto;
				font-family: $nav-icon-font;
			}
		}
		
		&.active {
			> .nav-expand-content {
				transform: translateX(0);
				visibility: visible;
			}
		}
		
		// quick example for other level colours
		.nav-expand-content {
			background-color: $nav-level-background-color;
			.nav-link {
				background-color: $nav-level-background-color1;  
			}
			.nav-expand-content {
				background-color: $nav-level3-background-color;
				.nav-link {
					background-color: $nav-level3-background-color;
				}
				.nav-expand-content {
					background-color: $nav-level4-background-color;
					.nav-link {
						background-color: $nav-level4-background-color;
					}
					.nav-expand-content {
						background-color: $nav-level5-background-color;
						.nav-link {
							background-color: $nav-level5-background-color;
						}
					}
				}
			}
		}
	}
}
.hero{
    position: relative;
    min-height: 100vh;
    z-index: 1;
    padding-top: 100px;
    .hero_bg{
        position: absolute;
        left:0;
        top:0;
        z-index: -1;
        height: 100%;
        width:100%;
        object-fit: cover;
    }
    .content_container{
        padding-top: 100px;
        padding-bottom: 100px;
        .hero_content{
            max-width: 522px;
            h2{
                font-style: normal;
                font-weight: normal;
                font-size: 58px;
                line-height: 64px;
                letter-spacing: -0.01em;
                color: #FFFFFF; 
                margin: 0;
            }
            div{
                padding-top: 30px;
                padding-bottom: 50px;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 140%;
                color: #FFFFFF; 
                max-width: 417px;
            }
        }
    }
    
}
.about_{
	background: #fff;
	position: relative;
	overflow: hidden;
	.about_grid{
		@extend .grid;
		padding-top: 100px;
		// padding-bottom: 63px;
		grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
		column-gap: 20px;
	}
	.des{
		max-width: 571px;
		padding-bottom: 63px;
		h3{
			max-width: 537px;
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			line-height: 140%;
			letter-spacing: -0.03em;
			color: #000000;	
			margin-bottom: 24px;
		}
		p{
			max-width: 487px;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 160%;
			letter-spacing: -0.03em;
			color: rgba(0, 0, 0, 0.8);
			margin-bottom: 40px;	
		}
	}
	.img_container{
		img{
			position: absolute;
			right:0;
			top:11px;
		}
	}
}
.portfolios{
	padding: 87px 0;
	background: linear-gradient(108.82deg, #FFFEFA 0.72%, #FAFFFF 100.31%);
}
.portfolios{
	h4{
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 140%;
		color: #313131;	
	}
	.portfolios_grid{
		@extend .grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		column-gap: 22px;
		row-gap: 22px;
		padding-top: 35px;
		.portfolio_item{
			overflow: hidden;
			.acquired{
				position: absolute;
				background:green;
				color:white;
				padding: 10px 50px;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;			
				@include transform( rotate(26deg));
				right: -62px;
				padding: 7px 80px;
				top: 10px;
			}
			@include border(1px solid #EAEAEA);
			background: rgba(255, 255, 255, 0.58);
			@include border-radius(10px);
			padding:25px 29px;
			@extend .flex;
			flex-direction: column;
			justify-content: space-between;
			&:focus{
				@include border(none);
				@include outline(none);
				@include box-shadow(none);
			}
			&:nth-of-type(1){
				@include transition(all 0.3s);
				&:hover{
					@include transition(all 0.3s);
					background: hsl(65, 79%, 98%);
				}
				.content{
					span{
						svg{
							@include transition(all 0.3s);
						}
						&:hover{
							@include transition(all 0.3s);
							color:#94a013;
							svg{
								@include transition(all 0.4s);
								path{
									fill:#94a013;
								}
							}
						}
					}
				}
			}
			&:nth-of-type(2){
				@include transition(all 0.3s);
				&:hover{
					@include transition(all 0.3s);
					background: hsl(135, 34%, 95%);
				}
				.content{
					span{
						svg{
							@include transition(all 0.3s);
						}
						&:hover{
							@include transition(all 0.3s);
							color:#438954;
							svg{
								@include transition(all 0.4s);
								path{
									fill:#438954;
								}
							}
						}
					}
				}
			}
			&:nth-of-type(3){
				@include transition(all 0.3s);
				&:hover{
					@include transition(all 0.3s);
					background: hsl(47, 97%, 99%);
				}
				.content{
					span{
						svg{
							@include transition(all 0.3s);
						}
						&:hover{
							@include transition(all 0.3s);
							color:#e2b203;
							svg{
								@include transition(all 0.4s);
								path{
									fill:#e2b203;
								}
							}
						}
					}
				}
			}
			.content{
				@extend .flex;
				flex:1;
				flex-direction: column;
				justify-content: space-between;
				p{
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 150%;
					color: rgba(105, 98, 98, 0.8);	
					// padding: 11px 0;
					padding-top: 15px;
				}
				span{
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 100%;
					color: #000000;	
					svg{
						position: relative;
						left: 0;
						@include transition(all 0.3s);
					}
				
					&:hover{
						@include transition(all 0.3s);
						svg{
							left:5px;
							@include transition(all 0.4s);
						}
					}
				}
			}
		}
	}
}
footer{
	background: #161D1D;
	@include border-radius(5px);
	padding: 77px 72px 48px 72px;
	.copyright{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 15px;
		color: #FFFFFF;	
		padding-top: 100px;
		a{
			color:white;
			&:hover{
				color:hsl(135, 34%, 70%);
				@include transition(all 0.3s);
			}
		}
	}
	.footer_grid{
		@extend .grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		column-gap: 40px;
		row-gap: 20px;
		.footer_item{
			.top_{
				a{
					display: inline-block;
					margin-bottom: 16px;
				}
				h3{
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 18px;
					color: #FFFFFF;	
					margin-bottom: 16px;		
				}
			}
			ul{
				list-style-type: none;
				padding-left: 0;
				li{
					a{
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						@include transition(all 0.3s);
						line-height: 15px;
						color: #FFFFFF;	
						&:hover{
							color:hsl(135, 34%, 80%);
							color:hsl(0, 0%, 75%);
							@include transition(all 0.3s);
						}
					}
				}
			}
		}
	}

}
// contact form
.contact_form{
	width: 600px;
	background: #fff;
	padding:40px 30px;
	@include border-radius(5px);
	.field{
		padding-top: 15px;
		&:first-of-type{
			padding-top: 0;
		}
		label.label{
			font-size: 14px;
		}
		.control{
			button{
				@include transition(all 0.3s);
				width: 100%;
				@include border-radius(5px);
				padding:12px;
				background:hsl(0, 0, 0%);
				color:hsl(0, 0, 100%);
				@include border(1px solid hsl(0, 0, 0%));
				&:hover{
					@include transition(all 0.3s);
					background:hsl(0, 0, 10%);
				}
				&:focus{
					@include transition(all 0.3s);
					background:hsl(0, 0, 100%);
					color:hsl(0, 0, 0%);
					@include outline(none);
					@include box-shadow(none);
				}
			}
		}
	}
	.form_container{
		clear: both;
		font-size: 1rem;
		position: relative;
		text-align: left;
		input, textarea{
			padding: 10px;
			padding-left: 2.8em;
			background-color: white;
			@include border (1px solid #dbdbdb);
			@include border-radius(5px);
			color: #363636;
			@include box-shadow(none);
			max-width: 100%;
			width: 100%;
			padding-right: calc(.625em - 1px);
			padding-top: calc(.375em - 1px);
			position: relative;
			vertical-align: top;
			height: 2.8em;
			justify-content: flex-start;
			line-height: 1.5;
			padding-bottom: calc(.375em - 1px);
			display: inline-flex;
			align-items: center;
			&::placeholder{
				color:#dbdbdb;
			}
		}
		.textarea:not([rows]) {
			max-height: 600px; 
			min-height: 120px; 
			padding: .625em;
		}
		.icon{
			height: 2.8em;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 2.8em;
			z-index: 4;
			left:0;	
			align-items: center;
			display: inline-flex;
			justify-content: center;
		}
	}
}
@media only screen and (max-width: 1300px) {
	.about_ .img_container img{
		position: relative;
		top:0;
	}
	.nav-top .section_container2 {
		padding-top: 30px;
	}
	.nav-drill {
		margin-top: 80px;
	}
	.portfolios .portfolios_grid .portfolio_item .acquired{
		right: -70px;
		top: 7px;
	}
}
@media only screen and (max-width: 676px) {
	.contact_form{
		width: 400px;
		padding:25px 15px;
	}
	footer{
		padding-left: 40px;
		padding-right: 40px;
	}
	.hero .content_container .hero_content h2 {
		font-size: 50px;
		line-height: 56px;
	}
	.about_ .des{
		h3 {
			font-size: 28px;
			line-height: 138%;
		}
		p{
			font-size: 18px;
		}
	}
}
@media only screen and (max-width: 425px) {
	.about_ .about_grid {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	}
	footer{
		padding-left: 20px;
		padding-right: 20px;
	}
	.hero .content_container .hero_content h2 {
		font-size: 45px;
		line-height: 52px;
	}
	.contact_form{
		width: 340px;
	}
}
@media only screen and (max-width: 375px) {
	.contact_form{
		width: 300px;
	}
}